header {
  display: flex;
  align-items:center;
  justify-content: space-between;

}

header a {
  color: black;
  text-transform: uppercase;
  padding: 10px;
  margin-right:20px;
  height: 100%;
  text-decoration: none;

}
