.test-info {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.questions-list > .list-item {
  display:flex;
  justify-content: space-between;
}
.answers-list ul {
  text-decoration: line-through;
}

.answers-list li {
  margin: 20px 0;

}
