.none {
  display: none;
}

.right {
  color:green;

}

.wrong {
  color: red;
}

.container {
  display:flex;
}

.wrapper {
  width:700px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

/* Styles for forms */

.undertitle {
  margin-bottom: 29px;
  text-align: center;
}

.test-form-page {
  padding: 50px;
}

.box {
  width:800px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  display: inline-block;
  margin: 30px;
  padding:30px;
  vertical-align: top;
}

.test-form-box {
  width:500px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.test-form-wrapper {
  box-sizing:border-box;
}

.test-form-wrapper input {
  width:100%;
  box-sizing:border-box;
  padding:10px;
}

.form-group {
}


.margin-bottom{
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}

.float-right {
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.float-right p {
  margin-right: 10px;
}

.new-answer-panel{
  margin:20px 0;
  display: flex;
  align-items:center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for Qiuz */

input[type="radio"] {
  width:auto;
  margin-right: 10px;
}

.answerOptions {
  padding:30px 30px;
}

.answerOption {
  padding:20px;
}

.question {
  text-align:center;
  margin-top: 20px;
}