body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

p, h1, h2, h3, h4 {
  margin:0;
  padding:0;
}

a {
  color: white;
  background: none;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}

input {
  box-sizing: border-box;
  padding: 10px;
}
